Source/HomeAutomexWeb/HomeAutomex/HomeAutomex/Service References/HomeAutomexService/HomeAutomexWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InserirUsuário">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuárioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirUsuárioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuarioPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuarioPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarUsuarioPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExistirUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosResidecia">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosResideciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosResideciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResidenciaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResidenciaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResidenciaPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jModdulo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosModulo">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarModuloPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarModuloPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarModuloPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jModulo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirPortaModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jPortaModulo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirPortaModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirPortaModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosPortaModulo">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosPortaModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosPortaModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPortaModuloPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPortaModuloPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPortaModuloPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarPortaModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jPortaModulo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarPortaModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarPortaModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirPortaModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirPortaModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirPortaModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirTipoPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jTipoPorta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosTipoPorta">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarTipoPortaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarTipoPortaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarTipoPortaPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarTipoPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jTipoPorta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirTipoPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirDispositivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jDispositivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirDispositivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirDispositivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosDispositivo">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosDispositivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosDispositivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDispositivoPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDispositivoPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarDispositivoPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarDispositivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jDispositivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarDispositivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarDispositivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirDispositivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirDispositivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirDispositivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirAmbiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jAmbiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirAmbienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirAmbienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosAmbiente">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosAmbienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosAmbienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAmbientePorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAmbientePorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAmbientePorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarAmbiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jAmbiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarAmbienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarAmbienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirAmbiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirAmbienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirAmbienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InserirUsuárioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirUsuário" />
  </wsdl:message>
  <wsdl:message name="InserirUsuárioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirUsuárioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirUsuario" />
  </wsdl:message>
  <wsdl:message name="ExcluirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExistirUsuario" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExistirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirResidencia" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosResideciaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosResidecia" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosResideciaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosResideciaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarResidenciaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarResidenciaPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarResidenciaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResidenciaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarResidencia" />
  </wsdl:message>
  <wsdl:message name="AlterarResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirResidencia" />
  </wsdl:message>
  <wsdl:message name="ExcluirResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="InserirModuloSoapIn">
    <wsdl:part name="parameters" element="tns:InserirModulo" />
  </wsdl:message>
  <wsdl:message name="InserirModuloSoapOut">
    <wsdl:part name="parameters" element="tns:InserirModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosModuloSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosModulo" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosModuloSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosModuloResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarModuloPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarModuloPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarModuloPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarModuloPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarModuloSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarModulo" />
  </wsdl:message>
  <wsdl:message name="AlterarModuloSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirModuloSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirModulo" />
  </wsdl:message>
  <wsdl:message name="ExcluirModuloSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirModuloResponse" />
  </wsdl:message>
  <wsdl:message name="InserirPortaModuloSoapIn">
    <wsdl:part name="parameters" element="tns:InserirPortaModulo" />
  </wsdl:message>
  <wsdl:message name="InserirPortaModuloSoapOut">
    <wsdl:part name="parameters" element="tns:InserirPortaModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosPortaModuloSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosPortaModulo" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosPortaModuloSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosPortaModuloResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPortaModuloPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPortaModuloPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarPortaModuloPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPortaModuloPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarPortaModuloSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarPortaModulo" />
  </wsdl:message>
  <wsdl:message name="AlterarPortaModuloSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarPortaModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirPortaModuloSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirPortaModulo" />
  </wsdl:message>
  <wsdl:message name="ExcluirPortaModuloSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirPortaModuloResponse" />
  </wsdl:message>
  <wsdl:message name="InserirTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirTipoPorta" />
  </wsdl:message>
  <wsdl:message name="InserirTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosTipoPorta" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarTipoPortaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarTipoPortaPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarTipoPortaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarTipoPortaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarTipoPorta" />
  </wsdl:message>
  <wsdl:message name="AlterarTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirTipoPorta" />
  </wsdl:message>
  <wsdl:message name="ExcluirTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="InserirDispositivoSoapIn">
    <wsdl:part name="parameters" element="tns:InserirDispositivo" />
  </wsdl:message>
  <wsdl:message name="InserirDispositivoSoapOut">
    <wsdl:part name="parameters" element="tns:InserirDispositivoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosDispositivoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosDispositivo" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosDispositivoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosDispositivoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarDispositivoPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarDispositivoPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarDispositivoPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarDispositivoPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarDispositivoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarDispositivo" />
  </wsdl:message>
  <wsdl:message name="AlterarDispositivoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarDispositivoResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirDispositivoSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirDispositivo" />
  </wsdl:message>
  <wsdl:message name="ExcluirDispositivoSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirDispositivoResponse" />
  </wsdl:message>
  <wsdl:message name="InserirAmbienteSoapIn">
    <wsdl:part name="parameters" element="tns:InserirAmbiente" />
  </wsdl:message>
  <wsdl:message name="InserirAmbienteSoapOut">
    <wsdl:part name="parameters" element="tns:InserirAmbienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosAmbienteSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosAmbiente" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosAmbienteSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosAmbienteResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAmbientePorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAmbientePorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarAmbientePorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAmbientePorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarAmbienteSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarAmbiente" />
  </wsdl:message>
  <wsdl:message name="AlterarAmbienteSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarAmbienteResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirAmbienteSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirAmbiente" />
  </wsdl:message>
  <wsdl:message name="ExcluirAmbienteSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirAmbienteResponse" />
  </wsdl:message>
  <wsdl:portType name="HomeAutomexWSSoap">
    <wsdl:operation name="InserirUsuário">
      <wsdl:input message="tns:InserirUsuárioSoapIn" />
      <wsdl:output message="tns:InserirUsuárioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:input message="tns:AlterarUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <wsdl:input message="tns:BuscarUsuarioPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarUsuarioPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <wsdl:input message="tns:ExcluirUsuarioSoapIn" />
      <wsdl:output message="tns:ExcluirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <wsdl:input message="tns:ConsutarTodosUsuariosSoapIn" />
      <wsdl:output message="tns:ConsutarTodosUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <wsdl:input message="tns:ExistirUsuarioSoapIn" />
      <wsdl:output message="tns:ExistirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <wsdl:input message="tns:InserirResidenciaSoapIn" />
      <wsdl:output message="tns:InserirResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <wsdl:input message="tns:ConsutarTodosResideciaSoapIn" />
      <wsdl:output message="tns:ConsutarTodosResideciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <wsdl:input message="tns:BuscarResidenciaPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarResidenciaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <wsdl:input message="tns:AlterarResidenciaSoapIn" />
      <wsdl:output message="tns:AlterarResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirResidencia">
      <wsdl:input message="tns:ExcluirResidenciaSoapIn" />
      <wsdl:output message="tns:ExcluirResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirModulo">
      <wsdl:input message="tns:InserirModuloSoapIn" />
      <wsdl:output message="tns:InserirModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosModulo">
      <wsdl:input message="tns:ConsutarTodosModuloSoapIn" />
      <wsdl:output message="tns:ConsutarTodosModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarModuloPorChave">
      <wsdl:input message="tns:BuscarModuloPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarModuloPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarModulo">
      <wsdl:input message="tns:AlterarModuloSoapIn" />
      <wsdl:output message="tns:AlterarModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirModulo">
      <wsdl:input message="tns:ExcluirModuloSoapIn" />
      <wsdl:output message="tns:ExcluirModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirPortaModulo">
      <wsdl:input message="tns:InserirPortaModuloSoapIn" />
      <wsdl:output message="tns:InserirPortaModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosPortaModulo">
      <wsdl:input message="tns:ConsutarTodosPortaModuloSoapIn" />
      <wsdl:output message="tns:ConsutarTodosPortaModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPortaModuloPorChave">
      <wsdl:input message="tns:BuscarPortaModuloPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarPortaModuloPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarPortaModulo">
      <wsdl:input message="tns:AlterarPortaModuloSoapIn" />
      <wsdl:output message="tns:AlterarPortaModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPortaModulo">
      <wsdl:input message="tns:ExcluirPortaModuloSoapIn" />
      <wsdl:output message="tns:ExcluirPortaModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirTipoPorta">
      <wsdl:input message="tns:InserirTipoPortaSoapIn" />
      <wsdl:output message="tns:InserirTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosTipoPorta">
      <wsdl:input message="tns:ConsutarTodosTipoPortaSoapIn" />
      <wsdl:output message="tns:ConsutarTodosTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoPortaPorChave">
      <wsdl:input message="tns:BuscarTipoPortaPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarTipoPortaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPorta">
      <wsdl:input message="tns:AlterarTipoPortaSoapIn" />
      <wsdl:output message="tns:AlterarTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirTipoPorta">
      <wsdl:input message="tns:ExcluirTipoPortaSoapIn" />
      <wsdl:output message="tns:ExcluirTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirDispositivo">
      <wsdl:input message="tns:InserirDispositivoSoapIn" />
      <wsdl:output message="tns:InserirDispositivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivo">
      <wsdl:input message="tns:ConsutarTodosDispositivoSoapIn" />
      <wsdl:output message="tns:ConsutarTodosDispositivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDispositivoPorChave">
      <wsdl:input message="tns:BuscarDispositivoPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarDispositivoPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarDispositivo">
      <wsdl:input message="tns:AlterarDispositivoSoapIn" />
      <wsdl:output message="tns:AlterarDispositivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirDispositivo">
      <wsdl:input message="tns:ExcluirDispositivoSoapIn" />
      <wsdl:output message="tns:ExcluirDispositivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirAmbiente">
      <wsdl:input message="tns:InserirAmbienteSoapIn" />
      <wsdl:output message="tns:InserirAmbienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosAmbiente">
      <wsdl:input message="tns:ConsutarTodosAmbienteSoapIn" />
      <wsdl:output message="tns:ConsutarTodosAmbienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAmbientePorChave">
      <wsdl:input message="tns:BuscarAmbientePorChaveSoapIn" />
      <wsdl:output message="tns:BuscarAmbientePorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarAmbiente">
      <wsdl:input message="tns:AlterarAmbienteSoapIn" />
      <wsdl:output message="tns:AlterarAmbienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirAmbiente">
      <wsdl:input message="tns:ExcluirAmbienteSoapIn" />
      <wsdl:output message="tns:ExcluirAmbienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HomeAutomexWSSoap" type="tns:HomeAutomexWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarUsuarioPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <soap:operation soapAction="http://tempuri.org/ExcluirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosResidecia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarResidenciaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <soap:operation soapAction="http://tempuri.org/AlterarResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirResidencia">
      <soap:operation soapAction="http://tempuri.org/ExcluirResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirModulo">
      <soap:operation soapAction="http://tempuri.org/InserirModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosModulo">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarModuloPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarModuloPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarModulo">
      <soap:operation soapAction="http://tempuri.org/AlterarModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirModulo">
      <soap:operation soapAction="http://tempuri.org/ExcluirModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirPortaModulo">
      <soap:operation soapAction="http://tempuri.org/InserirPortaModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosPortaModulo">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosPortaModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPortaModuloPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarPortaModuloPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPortaModulo">
      <soap:operation soapAction="http://tempuri.org/AlterarPortaModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPortaModulo">
      <soap:operation soapAction="http://tempuri.org/ExcluirPortaModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTipoPorta">
      <soap:operation soapAction="http://tempuri.org/InserirTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosTipoPorta">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoPortaPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarTipoPortaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPorta">
      <soap:operation soapAction="http://tempuri.org/AlterarTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTipoPorta">
      <soap:operation soapAction="http://tempuri.org/ExcluirTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirDispositivo">
      <soap:operation soapAction="http://tempuri.org/InserirDispositivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivo">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosDispositivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDispositivoPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarDispositivoPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarDispositivo">
      <soap:operation soapAction="http://tempuri.org/AlterarDispositivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirDispositivo">
      <soap:operation soapAction="http://tempuri.org/ExcluirDispositivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirAmbiente">
      <soap:operation soapAction="http://tempuri.org/InserirAmbiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosAmbiente">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosAmbiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAmbientePorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarAmbientePorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAmbiente">
      <soap:operation soapAction="http://tempuri.org/AlterarAmbiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirAmbiente">
      <soap:operation soapAction="http://tempuri.org/ExcluirAmbiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HomeAutomexWSSoap12" type="tns:HomeAutomexWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap12:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarUsuarioPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <soap12:operation soapAction="http://tempuri.org/ExcluirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap12:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap12:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosResidecia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarResidenciaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <soap12:operation soapAction="http://tempuri.org/AlterarResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirResidencia">
      <soap12:operation soapAction="http://tempuri.org/ExcluirResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirModulo">
      <soap12:operation soapAction="http://tempuri.org/InserirModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosModulo">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarModuloPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarModuloPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarModulo">
      <soap12:operation soapAction="http://tempuri.org/AlterarModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirModulo">
      <soap12:operation soapAction="http://tempuri.org/ExcluirModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirPortaModulo">
      <soap12:operation soapAction="http://tempuri.org/InserirPortaModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosPortaModulo">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosPortaModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPortaModuloPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarPortaModuloPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPortaModulo">
      <soap12:operation soapAction="http://tempuri.org/AlterarPortaModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPortaModulo">
      <soap12:operation soapAction="http://tempuri.org/ExcluirPortaModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/InserirTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoPortaPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarTipoPortaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/AlterarTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/ExcluirTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirDispositivo">
      <soap12:operation soapAction="http://tempuri.org/InserirDispositivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivo">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosDispositivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDispositivoPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarDispositivoPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarDispositivo">
      <soap12:operation soapAction="http://tempuri.org/AlterarDispositivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirDispositivo">
      <soap12:operation soapAction="http://tempuri.org/ExcluirDispositivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirAmbiente">
      <soap12:operation soapAction="http://tempuri.org/InserirAmbiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosAmbiente">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosAmbiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAmbientePorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarAmbientePorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAmbiente">
      <soap12:operation soapAction="http://tempuri.org/AlterarAmbiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirAmbiente">
      <soap12:operation soapAction="http://tempuri.org/ExcluirAmbiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeAutomexWS">
    <wsdl:port name="HomeAutomexWSSoap" binding="tns:HomeAutomexWSSoap">
      <soap:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
    <wsdl:port name="HomeAutomexWSSoap12" binding="tns:HomeAutomexWSSoap12">
      <soap12:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>