Source/HomeAutomexWeb/HomeAutomex/HomeAutomex/Service References/HomeAutomexService/HomeAutomexWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InserirUsuário">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuárioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirUsuárioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuarioPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuarioPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarUsuarioPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExistirUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosResidecia">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosResideciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosResideciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResidenciaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResidenciaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResidenciaPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InserirUsuárioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirUsuário" />
  </wsdl:message>
  <wsdl:message name="InserirUsuárioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirUsuárioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirUsuario" />
  </wsdl:message>
  <wsdl:message name="ExcluirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExistirUsuario" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExistirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirResidencia" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosResideciaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosResidecia" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosResideciaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosResideciaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarResidenciaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarResidenciaPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarResidenciaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResidenciaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarResidencia" />
  </wsdl:message>
  <wsdl:message name="AlterarResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarResidenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="HomeAutomexWSSoap">
    <wsdl:operation name="InserirUsuário">
      <wsdl:input message="tns:InserirUsuárioSoapIn" />
      <wsdl:output message="tns:InserirUsuárioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:input message="tns:AlterarUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <wsdl:input message="tns:BuscarUsuarioPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarUsuarioPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <wsdl:input message="tns:ExcluirUsuarioSoapIn" />
      <wsdl:output message="tns:ExcluirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <wsdl:input message="tns:ConsutarTodosUsuariosSoapIn" />
      <wsdl:output message="tns:ConsutarTodosUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <wsdl:input message="tns:ExistirUsuarioSoapIn" />
      <wsdl:output message="tns:ExistirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <wsdl:input message="tns:InserirResidenciaSoapIn" />
      <wsdl:output message="tns:InserirResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <wsdl:input message="tns:ConsutarTodosResideciaSoapIn" />
      <wsdl:output message="tns:ConsutarTodosResideciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <wsdl:input message="tns:BuscarResidenciaPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarResidenciaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <wsdl:input message="tns:AlterarResidenciaSoapIn" />
      <wsdl:output message="tns:AlterarResidenciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HomeAutomexWSSoap" type="tns:HomeAutomexWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarUsuarioPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <soap:operation soapAction="http://tempuri.org/ExcluirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosResidecia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarResidenciaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <soap:operation soapAction="http://tempuri.org/AlterarResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HomeAutomexWSSoap12" type="tns:HomeAutomexWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap12:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarUsuarioPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <soap12:operation soapAction="http://tempuri.org/ExcluirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap12:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap12:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosResidecia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarResidenciaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <soap12:operation soapAction="http://tempuri.org/AlterarResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeAutomexWS">
    <wsdl:port name="HomeAutomexWSSoap" binding="tns:HomeAutomexWSSoap">
      <soap:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
    <wsdl:port name="HomeAutomexWSSoap12" binding="tns:HomeAutomexWSSoap12">
      <soap12:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>