Source/HomeAutomexWeb/HomeAutomex/HomeAutomex/Service References/HomeAutomexService/HomeAutomexWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InserirUsuário">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuárioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirUsuárioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarTodos">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExistirUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InserirUsuárioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirUsuário" />
  </wsdl:message>
  <wsdl:message name="InserirUsuárioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirUsuárioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirResidencia" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarTodosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarTodos" />
  </wsdl:message>
  <wsdl:message name="ConsultarTodosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExistirUsuario" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExistirUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="HomeAutomexWSSoap">
    <wsdl:operation name="InserirUsuário">
      <wsdl:input message="tns:InserirUsuárioSoapIn" />
      <wsdl:output message="tns:InserirUsuárioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <wsdl:input message="tns:InserirResidenciaSoapIn" />
      <wsdl:output message="tns:InserirResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <wsdl:input message="tns:ConsultarTodosSoapIn" />
      <wsdl:output message="tns:ConsultarTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <wsdl:input message="tns:ExistirUsuarioSoapIn" />
      <wsdl:output message="tns:ExistirUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HomeAutomexWSSoap" type="tns:HomeAutomexWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <soap:operation soapAction="http://tempuri.org/ConsultarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HomeAutomexWSSoap12" type="tns:HomeAutomexWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap12:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap12:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <soap12:operation soapAction="http://tempuri.org/ConsultarTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap12:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeAutomexWS">
    <wsdl:port name="HomeAutomexWSSoap" binding="tns:HomeAutomexWSSoap">
      <soap:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
    <wsdl:port name="HomeAutomexWSSoap12" binding="tns:HomeAutomexWSSoap12">
      <soap12:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>