Source/HomeAutomexWeb/HomeAutomex/HomeAutomex/Service References/HomeAutomexService/HomeAutomexWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InserirUsuário">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuárioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirUsuárioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuarioPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuarioPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarUsuarioPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExistirUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosResidecia">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosResideciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosResideciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResidenciaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResidenciaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResidenciaPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirResidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirResidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirResidenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarResidenciaPorUsuarioChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarResidenciaPorUsuarioChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarResidenciaPorUsuarioChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jModdulo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosModulo">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarModuloPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarModuloPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarModuloPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jModulo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarModuloPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarModuloPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarModuloPorUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirTipoPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jTipoPorta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosTipoPorta">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarTipoPortaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarTipoPortaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarTipoPortaPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarTipoPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jTipoPorta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirTipoPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirTipoPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirTipoPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirDispositivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jDispositivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirDispositivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirDispositivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosDispositivoPorUsuarioChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosDispositivoPorUsuarioChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosDispositivoPorUsuarioChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosDispositivoFavorito">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosDispositivoFavoritoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosDispositivoFavoritoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDispositivoPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDispositivoPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarDispositivoPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarDispositivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jDispositivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarDispositivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarDispositivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirDispositivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirDispositivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirDispositivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirAmbiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jAmbiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirAmbienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirAmbienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarTodosAmbientePorUsuarioChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarTodosAmbientePorUsuarioChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarTodosAmbientePorUsuarioChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAmbientePorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAmbientePorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAmbientePorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarAmbiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jAmbiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarAmbienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarAmbienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirAmbiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirAmbienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirAmbienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirCenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jCenario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirCenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirCenarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosCenarioPorUsuarioChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosCenarioPorUsuarioChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosCenarioPorUsuarioChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosCenario">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosCenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosCenarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCenarioPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCenarioPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCenarioPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarCenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jCenario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarCenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarCenarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirCenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirCenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirCenarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jPorta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosPorta">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPortaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPortaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPortaPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jResidencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirPorta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirPortaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirPortaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirAgendamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jAgendamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirAgendamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirAgendamentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsutarTodosAgendamento">
        <s:complexType />
      </s:element>
      <s:element name="ConsutarTodosAgendamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsutarTodosAgendamentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAgendamentoPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAgendamentoPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAgendamentoPorChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarAgendamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jAgendamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarAgendamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarAgendamentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirAgendamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jChave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirAgendamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirAgendamentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatusArduino">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatusArduinoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusArduinoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InserirUsuárioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirUsuário" />
  </wsdl:message>
  <wsdl:message name="InserirUsuárioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirUsuárioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirUsuario" />
  </wsdl:message>
  <wsdl:message name="ExcluirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExistirUsuario" />
  </wsdl:message>
  <wsdl:message name="ExistirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExistirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="LogarSoapIn">
    <wsdl:part name="parameters" element="tns:Logar" />
  </wsdl:message>
  <wsdl:message name="LogarSoapOut">
    <wsdl:part name="parameters" element="tns:LogarResponse" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirResidencia" />
  </wsdl:message>
  <wsdl:message name="InserirResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosResideciaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosResidecia" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosResideciaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosResideciaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarResidenciaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarResidenciaPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarResidenciaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResidenciaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarResidencia" />
  </wsdl:message>
  <wsdl:message name="AlterarResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirResidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirResidencia" />
  </wsdl:message>
  <wsdl:message name="ExcluirResidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirResidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarResidenciaPorUsuarioChaveSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarResidenciaPorUsuarioChave" />
  </wsdl:message>
  <wsdl:message name="ConsultarResidenciaPorUsuarioChaveSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarResidenciaPorUsuarioChaveResponse" />
  </wsdl:message>
  <wsdl:message name="InserirModuloSoapIn">
    <wsdl:part name="parameters" element="tns:InserirModulo" />
  </wsdl:message>
  <wsdl:message name="InserirModuloSoapOut">
    <wsdl:part name="parameters" element="tns:InserirModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosModuloSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosModulo" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosModuloSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosModuloResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarModuloPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarModuloPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarModuloPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarModuloPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarModuloSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarModulo" />
  </wsdl:message>
  <wsdl:message name="AlterarModuloSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirModuloSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirModulo" />
  </wsdl:message>
  <wsdl:message name="ExcluirModuloSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarModuloPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarModuloPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ConsultarModuloPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarModuloPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirTipoPorta" />
  </wsdl:message>
  <wsdl:message name="InserirTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosTipoPorta" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarTipoPortaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarTipoPortaPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarTipoPortaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarTipoPortaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarTipoPorta" />
  </wsdl:message>
  <wsdl:message name="AlterarTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirTipoPortaSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirTipoPorta" />
  </wsdl:message>
  <wsdl:message name="ExcluirTipoPortaSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirTipoPortaResponse" />
  </wsdl:message>
  <wsdl:message name="InserirDispositivoSoapIn">
    <wsdl:part name="parameters" element="tns:InserirDispositivo" />
  </wsdl:message>
  <wsdl:message name="InserirDispositivoSoapOut">
    <wsdl:part name="parameters" element="tns:InserirDispositivoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosDispositivoPorUsuarioChaveSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosDispositivoPorUsuarioChave" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosDispositivoPorUsuarioChaveSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosDispositivoPorUsuarioChaveResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosDispositivoFavoritoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosDispositivoFavorito" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosDispositivoFavoritoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosDispositivoFavoritoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarDispositivoPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarDispositivoPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarDispositivoPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarDispositivoPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarDispositivoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarDispositivo" />
  </wsdl:message>
  <wsdl:message name="AlterarDispositivoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarDispositivoResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirDispositivoSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirDispositivo" />
  </wsdl:message>
  <wsdl:message name="ExcluirDispositivoSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirDispositivoResponse" />
  </wsdl:message>
  <wsdl:message name="InserirAmbienteSoapIn">
    <wsdl:part name="parameters" element="tns:InserirAmbiente" />
  </wsdl:message>
  <wsdl:message name="InserirAmbienteSoapOut">
    <wsdl:part name="parameters" element="tns:InserirAmbienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarTodosAmbientePorUsuarioChaveSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarTodosAmbientePorUsuarioChave" />
  </wsdl:message>
  <wsdl:message name="ConsultarTodosAmbientePorUsuarioChaveSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarTodosAmbientePorUsuarioChaveResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAmbientePorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAmbientePorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarAmbientePorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAmbientePorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarAmbienteSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarAmbiente" />
  </wsdl:message>
  <wsdl:message name="AlterarAmbienteSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarAmbienteResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirAmbienteSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirAmbiente" />
  </wsdl:message>
  <wsdl:message name="ExcluirAmbienteSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirAmbienteResponse" />
  </wsdl:message>
  <wsdl:message name="InserirCenarioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirCenario" />
  </wsdl:message>
  <wsdl:message name="InserirCenarioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirCenarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosCenarioPorUsuarioChaveSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosCenarioPorUsuarioChave" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosCenarioPorUsuarioChaveSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosCenarioPorUsuarioChaveResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosCenarioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosCenario" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosCenarioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosCenarioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarCenarioPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCenarioPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarCenarioPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCenarioPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarCenarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarCenario" />
  </wsdl:message>
  <wsdl:message name="AlterarCenarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarCenarioResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirCenarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirCenario" />
  </wsdl:message>
  <wsdl:message name="ExcluirCenarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirCenarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirPortaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirPorta" />
  </wsdl:message>
  <wsdl:message name="InserirPortaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirPortaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosPortaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosPorta" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosPortaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosPortaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPortaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPortaPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarPortaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPortaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarPortaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarPorta" />
  </wsdl:message>
  <wsdl:message name="AlterarPortaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarPortaResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirPortaSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirPorta" />
  </wsdl:message>
  <wsdl:message name="ExcluirPortaSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirPortaResponse" />
  </wsdl:message>
  <wsdl:message name="InserirAgendamentoSoapIn">
    <wsdl:part name="parameters" element="tns:InserirAgendamento" />
  </wsdl:message>
  <wsdl:message name="InserirAgendamentoSoapOut">
    <wsdl:part name="parameters" element="tns:InserirAgendamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosAgendamentoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsutarTodosAgendamento" />
  </wsdl:message>
  <wsdl:message name="ConsutarTodosAgendamentoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsutarTodosAgendamentoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAgendamentoPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAgendamentoPorChave" />
  </wsdl:message>
  <wsdl:message name="BuscarAgendamentoPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAgendamentoPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarAgendamentoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarAgendamento" />
  </wsdl:message>
  <wsdl:message name="AlterarAgendamentoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarAgendamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirAgendamentoSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirAgendamento" />
  </wsdl:message>
  <wsdl:message name="ExcluirAgendamentoSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirAgendamentoResponse" />
  </wsdl:message>
  <wsdl:message name="StatusArduinoSoapIn">
    <wsdl:part name="parameters" element="tns:StatusArduino" />
  </wsdl:message>
  <wsdl:message name="StatusArduinoSoapOut">
    <wsdl:part name="parameters" element="tns:StatusArduinoResponse" />
  </wsdl:message>
  <wsdl:portType name="HomeAutomexWSSoap">
    <wsdl:operation name="InserirUsuário">
      <wsdl:input message="tns:InserirUsuárioSoapIn" />
      <wsdl:output message="tns:InserirUsuárioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:input message="tns:AlterarUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <wsdl:input message="tns:BuscarUsuarioPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarUsuarioPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <wsdl:input message="tns:ExcluirUsuarioSoapIn" />
      <wsdl:output message="tns:ExcluirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <wsdl:input message="tns:ConsutarTodosUsuariosSoapIn" />
      <wsdl:output message="tns:ConsutarTodosUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <wsdl:input message="tns:ExistirUsuarioSoapIn" />
      <wsdl:output message="tns:ExistirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <wsdl:input message="tns:LogarSoapIn" />
      <wsdl:output message="tns:LogarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <wsdl:input message="tns:InserirResidenciaSoapIn" />
      <wsdl:output message="tns:InserirResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <wsdl:input message="tns:ConsutarTodosResideciaSoapIn" />
      <wsdl:output message="tns:ConsutarTodosResideciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <wsdl:input message="tns:BuscarResidenciaPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarResidenciaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <wsdl:input message="tns:AlterarResidenciaSoapIn" />
      <wsdl:output message="tns:AlterarResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirResidencia">
      <wsdl:input message="tns:ExcluirResidenciaSoapIn" />
      <wsdl:output message="tns:ExcluirResidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarResidenciaPorUsuarioChave">
      <wsdl:input message="tns:ConsultarResidenciaPorUsuarioChaveSoapIn" />
      <wsdl:output message="tns:ConsultarResidenciaPorUsuarioChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirModulo">
      <wsdl:input message="tns:InserirModuloSoapIn" />
      <wsdl:output message="tns:InserirModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosModulo">
      <wsdl:input message="tns:ConsutarTodosModuloSoapIn" />
      <wsdl:output message="tns:ConsutarTodosModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarModuloPorChave">
      <wsdl:input message="tns:BuscarModuloPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarModuloPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarModulo">
      <wsdl:input message="tns:AlterarModuloSoapIn" />
      <wsdl:output message="tns:AlterarModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirModulo">
      <wsdl:input message="tns:ExcluirModuloSoapIn" />
      <wsdl:output message="tns:ExcluirModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarModuloPorUsuario">
      <wsdl:input message="tns:ConsultarModuloPorUsuarioSoapIn" />
      <wsdl:output message="tns:ConsultarModuloPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirTipoPorta">
      <wsdl:input message="tns:InserirTipoPortaSoapIn" />
      <wsdl:output message="tns:InserirTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosTipoPorta">
      <wsdl:input message="tns:ConsutarTodosTipoPortaSoapIn" />
      <wsdl:output message="tns:ConsutarTodosTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoPortaPorChave">
      <wsdl:input message="tns:BuscarTipoPortaPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarTipoPortaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPorta">
      <wsdl:input message="tns:AlterarTipoPortaSoapIn" />
      <wsdl:output message="tns:AlterarTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirTipoPorta">
      <wsdl:input message="tns:ExcluirTipoPortaSoapIn" />
      <wsdl:output message="tns:ExcluirTipoPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirDispositivo">
      <wsdl:input message="tns:InserirDispositivoSoapIn" />
      <wsdl:output message="tns:InserirDispositivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivoPorUsuarioChave">
      <wsdl:input message="tns:ConsutarTodosDispositivoPorUsuarioChaveSoapIn" />
      <wsdl:output message="tns:ConsutarTodosDispositivoPorUsuarioChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivoFavorito">
      <wsdl:input message="tns:ConsutarTodosDispositivoFavoritoSoapIn" />
      <wsdl:output message="tns:ConsutarTodosDispositivoFavoritoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDispositivoPorChave">
      <wsdl:input message="tns:BuscarDispositivoPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarDispositivoPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarDispositivo">
      <wsdl:input message="tns:AlterarDispositivoSoapIn" />
      <wsdl:output message="tns:AlterarDispositivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirDispositivo">
      <wsdl:input message="tns:ExcluirDispositivoSoapIn" />
      <wsdl:output message="tns:ExcluirDispositivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirAmbiente">
      <wsdl:input message="tns:InserirAmbienteSoapIn" />
      <wsdl:output message="tns:InserirAmbienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodosAmbientePorUsuarioChave">
      <wsdl:input message="tns:ConsultarTodosAmbientePorUsuarioChaveSoapIn" />
      <wsdl:output message="tns:ConsultarTodosAmbientePorUsuarioChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAmbientePorChave">
      <wsdl:input message="tns:BuscarAmbientePorChaveSoapIn" />
      <wsdl:output message="tns:BuscarAmbientePorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarAmbiente">
      <wsdl:input message="tns:AlterarAmbienteSoapIn" />
      <wsdl:output message="tns:AlterarAmbienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirAmbiente">
      <wsdl:input message="tns:ExcluirAmbienteSoapIn" />
      <wsdl:output message="tns:ExcluirAmbienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirCenario">
      <wsdl:input message="tns:InserirCenarioSoapIn" />
      <wsdl:output message="tns:InserirCenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosCenarioPorUsuarioChave">
      <wsdl:input message="tns:ConsutarTodosCenarioPorUsuarioChaveSoapIn" />
      <wsdl:output message="tns:ConsutarTodosCenarioPorUsuarioChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosCenario">
      <wsdl:input message="tns:ConsutarTodosCenarioSoapIn" />
      <wsdl:output message="tns:ConsutarTodosCenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCenarioPorChave">
      <wsdl:input message="tns:BuscarCenarioPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarCenarioPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarCenario">
      <wsdl:input message="tns:AlterarCenarioSoapIn" />
      <wsdl:output message="tns:AlterarCenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirCenario">
      <wsdl:input message="tns:ExcluirCenarioSoapIn" />
      <wsdl:output message="tns:ExcluirCenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirPorta">
      <wsdl:input message="tns:InserirPortaSoapIn" />
      <wsdl:output message="tns:InserirPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosPorta">
      <wsdl:input message="tns:ConsutarTodosPortaSoapIn" />
      <wsdl:output message="tns:ConsutarTodosPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPortaPorChave">
      <wsdl:input message="tns:BuscarPortaPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarPortaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarPorta">
      <wsdl:input message="tns:AlterarPortaSoapIn" />
      <wsdl:output message="tns:AlterarPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPorta">
      <wsdl:input message="tns:ExcluirPortaSoapIn" />
      <wsdl:output message="tns:ExcluirPortaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirAgendamento">
      <wsdl:input message="tns:InserirAgendamentoSoapIn" />
      <wsdl:output message="tns:InserirAgendamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosAgendamento">
      <wsdl:input message="tns:ConsutarTodosAgendamentoSoapIn" />
      <wsdl:output message="tns:ConsutarTodosAgendamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAgendamentoPorChave">
      <wsdl:input message="tns:BuscarAgendamentoPorChaveSoapIn" />
      <wsdl:output message="tns:BuscarAgendamentoPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarAgendamento">
      <wsdl:input message="tns:AlterarAgendamentoSoapIn" />
      <wsdl:output message="tns:AlterarAgendamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirAgendamento">
      <wsdl:input message="tns:ExcluirAgendamentoSoapIn" />
      <wsdl:output message="tns:ExcluirAgendamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatusArduino">
      <wsdl:input message="tns:StatusArduinoSoapIn" />
      <wsdl:output message="tns:StatusArduinoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HomeAutomexWSSoap" type="tns:HomeAutomexWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarUsuarioPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <soap:operation soapAction="http://tempuri.org/ExcluirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <soap:operation soapAction="http://tempuri.org/Logar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosResidecia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarResidenciaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <soap:operation soapAction="http://tempuri.org/AlterarResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirResidencia">
      <soap:operation soapAction="http://tempuri.org/ExcluirResidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarResidenciaPorUsuarioChave">
      <soap:operation soapAction="http://tempuri.org/ConsultarResidenciaPorUsuarioChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirModulo">
      <soap:operation soapAction="http://tempuri.org/InserirModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosModulo">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarModuloPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarModuloPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarModulo">
      <soap:operation soapAction="http://tempuri.org/AlterarModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirModulo">
      <soap:operation soapAction="http://tempuri.org/ExcluirModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarModuloPorUsuario">
      <soap:operation soapAction="http://tempuri.org/ConsultarModuloPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTipoPorta">
      <soap:operation soapAction="http://tempuri.org/InserirTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosTipoPorta">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoPortaPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarTipoPortaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPorta">
      <soap:operation soapAction="http://tempuri.org/AlterarTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTipoPorta">
      <soap:operation soapAction="http://tempuri.org/ExcluirTipoPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirDispositivo">
      <soap:operation soapAction="http://tempuri.org/InserirDispositivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivoPorUsuarioChave">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosDispositivoPorUsuarioChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivoFavorito">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosDispositivoFavorito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDispositivoPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarDispositivoPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarDispositivo">
      <soap:operation soapAction="http://tempuri.org/AlterarDispositivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirDispositivo">
      <soap:operation soapAction="http://tempuri.org/ExcluirDispositivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirAmbiente">
      <soap:operation soapAction="http://tempuri.org/InserirAmbiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodosAmbientePorUsuarioChave">
      <soap:operation soapAction="http://tempuri.org/ConsultarTodosAmbientePorUsuarioChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAmbientePorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarAmbientePorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAmbiente">
      <soap:operation soapAction="http://tempuri.org/AlterarAmbiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirAmbiente">
      <soap:operation soapAction="http://tempuri.org/ExcluirAmbiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirCenario">
      <soap:operation soapAction="http://tempuri.org/InserirCenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosCenarioPorUsuarioChave">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosCenarioPorUsuarioChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosCenario">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosCenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCenarioPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarCenarioPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarCenario">
      <soap:operation soapAction="http://tempuri.org/AlterarCenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirCenario">
      <soap:operation soapAction="http://tempuri.org/ExcluirCenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirPorta">
      <soap:operation soapAction="http://tempuri.org/InserirPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosPorta">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPortaPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarPortaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPorta">
      <soap:operation soapAction="http://tempuri.org/AlterarPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPorta">
      <soap:operation soapAction="http://tempuri.org/ExcluirPorta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirAgendamento">
      <soap:operation soapAction="http://tempuri.org/InserirAgendamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosAgendamento">
      <soap:operation soapAction="http://tempuri.org/ConsutarTodosAgendamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAgendamentoPorChave">
      <soap:operation soapAction="http://tempuri.org/BuscarAgendamentoPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAgendamento">
      <soap:operation soapAction="http://tempuri.org/AlterarAgendamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirAgendamento">
      <soap:operation soapAction="http://tempuri.org/ExcluirAgendamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusArduino">
      <soap:operation soapAction="http://tempuri.org/StatusArduino" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HomeAutomexWSSoap12" type="tns:HomeAutomexWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserirUsuário">
      <soap12:operation soapAction="http://tempuri.org/InserirUsuário" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarUsuarioPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirUsuario">
      <soap12:operation soapAction="http://tempuri.org/ExcluirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistirUsuario">
      <soap12:operation soapAction="http://tempuri.org/ExistirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <soap12:operation soapAction="http://tempuri.org/Logar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirResidencia">
      <soap12:operation soapAction="http://tempuri.org/InserirResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosResidecia">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosResidecia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarResidenciaPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarResidenciaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarResidencia">
      <soap12:operation soapAction="http://tempuri.org/AlterarResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirResidencia">
      <soap12:operation soapAction="http://tempuri.org/ExcluirResidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarResidenciaPorUsuarioChave">
      <soap12:operation soapAction="http://tempuri.org/ConsultarResidenciaPorUsuarioChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirModulo">
      <soap12:operation soapAction="http://tempuri.org/InserirModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosModulo">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarModuloPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarModuloPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarModulo">
      <soap12:operation soapAction="http://tempuri.org/AlterarModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirModulo">
      <soap12:operation soapAction="http://tempuri.org/ExcluirModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarModuloPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/ConsultarModuloPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/InserirTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoPortaPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarTipoPortaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/AlterarTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTipoPorta">
      <soap12:operation soapAction="http://tempuri.org/ExcluirTipoPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirDispositivo">
      <soap12:operation soapAction="http://tempuri.org/InserirDispositivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivoPorUsuarioChave">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosDispositivoPorUsuarioChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosDispositivoFavorito">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosDispositivoFavorito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDispositivoPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarDispositivoPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarDispositivo">
      <soap12:operation soapAction="http://tempuri.org/AlterarDispositivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirDispositivo">
      <soap12:operation soapAction="http://tempuri.org/ExcluirDispositivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirAmbiente">
      <soap12:operation soapAction="http://tempuri.org/InserirAmbiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodosAmbientePorUsuarioChave">
      <soap12:operation soapAction="http://tempuri.org/ConsultarTodosAmbientePorUsuarioChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAmbientePorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarAmbientePorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAmbiente">
      <soap12:operation soapAction="http://tempuri.org/AlterarAmbiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirAmbiente">
      <soap12:operation soapAction="http://tempuri.org/ExcluirAmbiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirCenario">
      <soap12:operation soapAction="http://tempuri.org/InserirCenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosCenarioPorUsuarioChave">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosCenarioPorUsuarioChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosCenario">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosCenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCenarioPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarCenarioPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarCenario">
      <soap12:operation soapAction="http://tempuri.org/AlterarCenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirCenario">
      <soap12:operation soapAction="http://tempuri.org/ExcluirCenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirPorta">
      <soap12:operation soapAction="http://tempuri.org/InserirPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosPorta">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPortaPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarPortaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPorta">
      <soap12:operation soapAction="http://tempuri.org/AlterarPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPorta">
      <soap12:operation soapAction="http://tempuri.org/ExcluirPorta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirAgendamento">
      <soap12:operation soapAction="http://tempuri.org/InserirAgendamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsutarTodosAgendamento">
      <soap12:operation soapAction="http://tempuri.org/ConsutarTodosAgendamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAgendamentoPorChave">
      <soap12:operation soapAction="http://tempuri.org/BuscarAgendamentoPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAgendamento">
      <soap12:operation soapAction="http://tempuri.org/AlterarAgendamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirAgendamento">
      <soap12:operation soapAction="http://tempuri.org/ExcluirAgendamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusArduino">
      <soap12:operation soapAction="http://tempuri.org/StatusArduino" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeAutomexWS">
    <wsdl:port name="HomeAutomexWSSoap" binding="tns:HomeAutomexWSSoap">
      <soap:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
    <wsdl:port name="HomeAutomexWSSoap12" binding="tns:HomeAutomexWSSoap12">
      <soap12:address location="http://localhost:54090/HomeAutomexWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>